/* header */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

.mainDiv {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  background-color: white;
  z-index: 1;
}

.head nav {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  align-items: center;
  color: #7C7C7C;
}

.navBar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navBar li {
  list-style-type: none;
  color: #C9C9C9;
  font-size: 13px;
  font-weight: 500;
}

.navBar li a {
  color: #C9C9C9;
}

li a {
  text-decoration: none;
}

.head {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social a {
  color: #C9C9C9;
}


.social div {
  width: 2px;
  height: 18px;
  background-color: #C9C9C9;
}

/* First Screen */

section {
  width: 100%;
}

.firstScreen {
  background-image: url('Images/backgroundLighthouse.png');
  display: flex;
  width: 100%;
  height: 686px;
  justify-content: space-around;
  align-items: center;
}

.swipeInfo {
  width: 600px;
}

.swipeInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.swipeInfo div p {
  text-align: center;
}

.company {
  font-size: 12px;
  margin-top: 45px;
}

.ourName {
  font-size: 37px;
  height: 109px;
  width: 515px;
  background-image: url('Images/Line.png');
  padding-top: 30px;
  margin-top: 23px;
  font-family: amsdam;
}

.swipeInfo div button {
  color: white;
  width: 152px;
  height: 42px;
  border: 1px solid white;
  background: transparent;
  margin-top: 45px;
}

.anchor-home {
  position: absolute;
  top: 0;
  left: 0;
}

/* about us */

.aboutUs {
  display: flex;
  width: 100%;
  height: 1100px;
  background-color: #E3E3E3;
  flex-direction: column;
  align-items: center;
  font-family: amsdam;
}

.aboutUsInfo {
  display: flex;
  height: 750px;
  width: 1170px;
  margin-top: 88px;
  padding: 320px;
  background-image: url('Images/aboutUs.png');
  background-repeat: no-repeat;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.head-screen {
  font-size: 20px;
  background-image: url("Images/smallLine.png");
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 66px;
  height: 50px;
  width: 185px;
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 50px;
}

.about-text {
  width: 1015px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.btn-in-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}

.btn {
  margin: 3px;
  border: 1px solid black;
  height: 40px;
  width: 133px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 7px;
  font-weight: 750;
  cursor: pointer;
}

.btn:active {
  color: white;
  background-color: black;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviews div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-top: 35px;
}

.reviews div p {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 35px;
}

.reviews div img {
  margin-bottom: 35px;
}

.reviews div span {
  font-weight: 900;
  font-size: 35px;
}

/* services */

.services {
  display: flex;
  width: 100%;
  height: 745px;
  background-image: url('Images/bgServices.jpg');
  flex-direction: column;
  align-items: center;
  font-family: amsdam;
  color: #919191;
}

.services .head-screen {
  color: white;
  background-image: url('Images/liteSmallLine.png');
}

.services .about-text {
  text-align: center;
}

.about-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
}

.services-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  border: 1px solid white;
  padding: 0 35px 40px;
}

.services-block p {
  text-align: center;
}

.services-block span {
  margin-top: 45px;
  margin-bottom: 35px;
  color: #D8D8D8;
  width: 70px;
  text-align: center;
}

legend {
  width: 66px;
  text-align: center;
}

/* prices */

.prices {
  background-color: #E3E3E3;
  width: 100%;
  height: 945px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: amsdam;
}

.prices .about-text {
  text-align: center;
}

.prices-block {
  width: 1170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-card {
  width: 370px;
  height: 550px;
  background-color: white;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.price-card>span {
  font-size: 15px;
  font-weight: 600; 
}

.price-card>img {
  width: 230px;
  height: auto;
}

.price {
  width: 95px;
  height: 70px;
}

.price span {
  font-size: 71px;
  font-weight: 900;
}

.price img {
  margin-bottom: 30px;
}

.price-card p {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 540;
  line-height: 2;
}

/* purchase */

.purchase {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 180px;
  background-color: #2D2D2F;
  justify-content: center;
  align-items: center;
  font-family: amsdam;
}

.purchase-info {
  display: flex;
  flex-direction: row;
  width: 1170px;
  justify-content: space-between;
  align-items: center;
}

.purchase>img {
  height: 104px;
}

.purchase-title {
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.purchase p {
  font-size: 16px;
  color: #747475;
  font-style: italic;
}

.purchase-info div {
  width: 615px;
}

.purchase a {
  color: white;
  border-color: white;
  margin-right: 123px;
}

.purchase a:active {
  color: black;
  border-color: black;
  background-color: white;
}

/* Blog */

.blog {
  height: 1115px;
  background-color: #E3E3E3;
  font-family: amsdam;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.blog-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.blog-info>img {
  width: 25%;
}

.blog-about {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 414px;
  padding: 25px;
  background-color: #424244;
}

.bgc-black {
  background-color: #2D2D2F;
}

.by-admin {
  font-style: italic;
  color: #BFBFBF;
  width: 145px;
  padding-bottom: 15px;
  border-bottom: 1px solid #747474;
  font-size: 12px;
}

.about-blog-title {
  font-size: 13px;
  color: white;
  margin-top: 20px;
  margin-bottom: 35px;
}

.about-blog-title img {
  margin-right: 5px;
}

.blog-text {
  line-height: 1.3;
  color: #8D8D8D;
}

/* Clients */

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.clients {
  height: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: amsdam;
  justify-content: space-between;
}

.clients>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1030px;
  margin-top: 35px;
}

.comment {
  background-image: url('Images/bgComment.png');
  height: 520px;
  width: 100%;
  display: block;
}

.slick-slider {
  width: 800px;
  text-align: center;
  z-index: 0;
}

.slick-slider img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px;
  margin-bottom: 56px;
}

.slick-slider p {
  color: #E4E3E2;
  font-style: italic;
  width: 770px;
  line-height: 1.5;
  font-size: 16px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.comment-link {
  color: #E4E3E2;
  font-style: italic;
  width: 200px;
  font-size: 13px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 19px;
  margin-bottom: 35px;
}

.comment-name {
  color: #E4E3E2;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  color:  white;
  font-size: 11px;
  }

.slick-dots li.slick-active button:before {
    color: white;
  }

.margin-40 {
  margin-top: -40px;
} 

/* map */

.map {
  height: 515px;
  width: 100%;
}

.myMarker {
  display: flex;
  background-color: black;
  width: 50px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.myMarker img {
  height: 29px;
}

/* footer */

.footer {
  height: 640px;
  background-image: url('Images/bgFooter.png');
  display: flex;
  justify-content: center;
  font-family: amsdam;
  color: white;
}

.footer-main {
  width: 1170px;
  display: flex;
  flex-direction: column;
}

.footer-main .logo {
  color: white;
  margin-top: 51px;
  margin-bottom: 25px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #858585;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 465px;
  flex-direction: column;
  justify-content: space-around;
}

.leftSide p {
  color:  #858585;
}

.leftSide .social {
  justify-content: left;
}

.rightSide {
  width: 773px;
  height: 314px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 252px;
  justify-content: space-between;
}

.footer-form>div>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 373px;
  height: 53px;
  border: 1px solid #858585;
}

.footer-form>div>.massage {
  height: 96px;
  width: 773px;
}

.footer-form .btn {
  padding: 0;
  background-color: #464646;
  color: white;
}

input {
  font-style: italic;
  color: #858585;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: transparent;
}

.copyright {
  display: flex;
  align-items: center;
  height: 70px;
}

.copyright p {
  color: #858585;
  font-style: italic;
}