/* header */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  background-color: white;
}

.head nav {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  align-items: center;
  color: #7C7C7C;
}

img {
  height: 29px;
}

.navBar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navBar li {
  list-style-type: none;
  color: #C9C9C9;
  font-size: 13px;
  font-weight: 500;
}

.navBar li a {
  color: #C9C9C9;
}

li a {
  text-decoration: none;
}

.head {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social a {
  color: #C9C9C9;
}


.social div {
  width: 2px;
  height: 18px;
  background-color: #C9C9C9;
}

/* First Screen */

section {
  width: 100%;
}

.firstScreen {
  background-image: url('Images/backgroundLighthouse.png');
  display: flex;
  width: 100%;
  height: 686px;
  justify-content: space-around;
  align-items: center;
}

.swipeInfo {
  width: 600px;
}

.swipeInfo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.swipeInfo div p {
  text-align: center;
}

.company {
  font-size: 12px;
  margin-top: 45px;
}

.ourName {
  font-size: 37px;
  height: 109px;
  width: 515px;
  background-image: url('Images/Line.png');
  padding-top: 30px;
  margin-top: 23px;
  font-family: amsdam;
}

.swipeInfo div button {
  color: white;
  width: 152px;
  height: 42px;
  border: 1px solid white;
  background: transparent;
  margin-top: 45px;
}

.anchor-home {
  position: absolute;
  top: 0;
  left: 0;
}

/* about us */

.aboutUs {
  display: flex;
  width: 100%;
  height: 1100px;
  background-color: #E3E3E3;
  flex-direction: column;
  align-items: center;
  font-family: amsdam;
}

.aboutUsInfo {
  display: flex;
  height: 750px;
  width: 1170px;
  margin-top: 88px;
  background-image: url('Images/aboutUs.png');
  background-repeat: no-repeat;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.head-screen {
  font-size: 20px;
  background-image: url("Images/smallLine.png");
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 386px;
  height: 50px;
  width: 185px;
  text-align: center;
  margin-bottom: 45px;
}

.about-text {
  width: 1015px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.btn-in-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: 3px;
  border: 1px solid black;
  height: 40px;
  width: 133px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 7px;
  font-weight: 750;
}

.btn:active {
  color: white;
  background-color: black;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviews div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-top: 35px;
}

.reviews div p {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 35px;
}

.reviews div img {
  margin-bottom: 35px;
}

.reviews div span {
  font-weight: 900;
  font-size: 35px;
}
